table {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 900px;
  width: 100%;
  font-size: 7pt;
}

.f6 {
  font-size: 6pt;
}

.helv{
  font-family: Arial, Helvetica, sans-serif;
}

.f7 {
  font-size: 7pt;
}

.f8 {
  font-size: 8pt;
}

.f9 {
  font-size: 9pt;
}

.f10 {
  font-size: 10pt;
}

.f12 {
  font-size: 12pt;
}

.f14 {
  font-size: 14pt;
}

.xl70 {
  background: #FF9;
  font-size: 8pt;
  text-align: center;
}

.xl7 {
  background: #FFC;
  font-size: 8pt;
}

.line {
  border-top: .5pt solid gray;
}

.gray {
  background: gray;
  color: #FFF;
  font-size: 8pt;
  text-align: center;
  border: 2px solid #fff;
}

.xl195 {
  background: #FFFFE5;
  font-size: 7pt;
  text-align: center;
}

.xl10 {
  background: #F2FFF2;
  font-size: 9pt;
}

.percent:after{
  content: '%'
}

.brightgreen {
  background: #F2FFF2;
  font-size: 7pt;
  border: .5px solid #fff;
  text-align: right;
}

.bold {
  font-weight: 800;
}

.pay {
  font-size: 8pt;
  text-align: center;
  font-weight: 800;
}

.base {
  background: #FFC;
}

.overtime {
  background: #FFE5CC;
}

.additional {
  background: #E5FFE5;
}

.xl16221306 {
  font-family: "Wingdings 3";
  font-size: 7pt;
}

.f8orange {
  background: #FFF2E5;
  font-size: 7pt;
  text-align: center;
  vertical-align: bottom;
}

.brightorange {
  background: #FFD8B2;
  font-size: 8pt;
  text-align: center;
  border: .5px solid #fff;
}

.wingdings {
  color: gray;
  font-family: "Wingdings 3";
  font-size: 9pt;
  text-align: center;
}

.td202 {
  background: #FFF2E5;
  font-size: 7pt;
  text-align: right;
  border: .5px solid #fff;
}

.bluetop {
  background: #E5F2FF;
  color: #000;
  font-size: 8pt;
  text-align: center;
}

.vbottom {
  vertical-align: bottom;
}

.brightyellow {
  background: #FFFFE5;
  font-size: 8pt;
  text-align: center;
  border: .5px solid #fff;
}

.td127 {
  background: #F2FFF2;
  font-size: 8pt;
  text-align: center;
}

.medorange {
  background: #FFF2E5;
  font-size: 7pt;
  text-align: center;
}

.darkyellow {
  background: #FFFFB2;
  font-size: 9pt;
  text-align: center;
}

.brightgreen {
  background: #F2FFF2;
  font-size: 8pt;
  text-align: center;
  border: .5px solid #fff;
}

.darkgreen {
  background: #E5FFE5;
  font-size: 8pt;
  text-align: center;
  border: .5px solid #fff;
}

.blue {
  background: #CCE5FF;
  font-size: 8pt;
  padding-left: 5px;
  border: 2px solid #fff;
}

.darkorange {
  background: #FFE5CC;
  font-size: 8pt;
  text-align: center;
  border: .5px solid #fff;
}

.totals {
  font-size: 8pt;
  text-align: center;
  vertical-align: bottom;
  border-bottom: .5px solid;
  border-left: .5px solid;
  border-right: .5px solid;
  border-color: black;
}

.xl19 {
  background: #FFF2E5;
  font-size: 8pt;
  text-align: center;
}

.td186, .xl124, .xl18721306 {
  background: #CCE5FF;
  font-size: 9pt;
  text-align: center;
  border: .5px solid #fff;
}

.td187 {
  text-align: left;
  padding-left: 5px;
}


ul {
  list-style-type: none;
}

.dropdown-comments {
  min-width: 500px !important;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

/* HERE ABR STYLE */

.wingdings_abr {
  font-family: "Wingdings 3";
}

.spacer {
  font-size: 10.0pt;
  font-weight: 400;
  vertical-align: bottom;
}

.dargreen {
  background: #CCFFCC;
}

.brgreen {
  background: #E5FFE5;
}

.greentitle {
  background: #CCFFCC;
}

.darblue {
  background: #CCE5FF;
}

.bluetitle {
  padding: 5px;
  background: #CCE5FF;
}

.brblue {
  background: #E5F2FF;
}

.darorange {
  background: #ffe5cc;
}

.brorange {
  background: #fff2e5
}

.orantitle {
  padding: 5px;
  background: #ffe5cc;
}

.ab_darkyellow {
  text-align: right;
  background: #FFFFB2;
}

.yelltitle {
  padding: 5px;
  background: #FFFFB2;
}

.titlebar f7 {
  padding: 1px;
  border-top: .5pt solid #969696;
  border-left: .5pt solid #969696;
}

.BetwTitle {
  font-size: 8.0pt;
  font-weight: 800;
  background: #DFDFDF;
}

.BetwTitlesmall {
  background: #DFDFDF;
}

.maintitle {
  font-size: 14.0pt;
  font-weight: 400;
}

.bryellow {
  background: #FFFFE5;
}

.overline {
  border-top: .5pt solid #969696;
}

.center{
  text-align: center;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

input[type="number"] {
  background: #E5F2FF;
  font-size: 8pt;
  border: 0;
  text-align: right;
}
